* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
 .window {
    margin: 0 auto; 
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.display {
    width: 100%;
    background-color: black;
    font-size: 32px;
    text-align: end;
    padding: 18px;
    font-weight: 100;
}

.keypad {
    display: flex;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.specials {
    display: flex;
    flex-direction: row;
}

.number-key,
.action-key,
.special-key {
    flex-basis: 60px;
    flex-grow: 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid gray;
}

.action-key {
    background-color: orange;
    width: 60px;
}

.number-key {
    background-color: darkgray;
}

.special-key {
    background-color: gray;
}